<!DOCTYPE html>
<html lang="en">
  <head>
    <title>webchat</title>
    <link rel="stylesheet" href="/static/css/chat.css">
  </head>
    <body>
      <p>logged in as {{uname}}</p>
      <p>sending to {{touser}}</p>

      <button id="submit">Send</button>
      <button id="logout">logout</button>
      <input type="text" id="textbox1"> <br>
      <textarea id="textarea1" rows="25" cols="100"></textarea>

    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.js"> </script>
	  <script src="static/js/chat.js"> </script>
    </html>
